[Desktop Entry]
Name=openHab Designer
Comment=
Exec=openhab-designer
Icon=openhab-designer
Terminal=false
Type=Application
Categories=Java;
StartupNotify=true
